@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.errorpage{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  height: 100vh;
  color: $cor-bg-branco;
  background-color: $cor-bg-preto;
  padding: 2rem;
}