@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

@keyframes toggle{
  0%{
    color: $cor-bg-branco;
  }
  100%{
    color: transparent
  }
}

.organizacao{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  height: 92vh;

  img{
    width: 550px;
  }

  h1{
    color: $cor-bg-branco;
    padding: 2rem 0;
  }

  span{
    animation: toggle .5s infinite alternate;
  }
}

@include viewport(xl){
  .organizacao img{
    width: 400px;
  }
}

@include viewport(md){
  .organizacao{
    img{
      width: 350px;
    }

    h1{
      margin: 0 .5rem;
      font-size: 1.5rem;
    }
  } 
}

@include viewport(sm){
  .organizacao{
    img{
      width: 86vw;
    }
  } 
}

@include viewport(xs){
  .organizacao{
    h1{
      font-size: 1.2rem;
    }
  } 
}